<h1>You Matter. Vote here!</h1> <br>

<%= form_for @scale do |f| %>
<%= f.label :rating %> <br>
<%= f.text_field :rating %>
<%= f.submit %>
<% end %> <br>

"There will never be a really free and enlightened State until the State comes to recognize the individual as a higher
and independent power." -Henry David Thoreau