<% @posts.each do |post| %> <br>
<div class="post_wrapper">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <p class="user"><%= link_to post.user.username, post %><p>
            <p class="date"><%= time_ago_in_words(post.created_at) %> ago</p>
</div>
<% end %>